.button {
    flex-shrink: 0;
    border: none;
    border-radius: 2px;
    padding: 7px 14px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    cursor: pointer;
}

.button:hover {
    background-color: var(--tertiary-bg-color);
}
