.container {
    margin:0 auto;
    width: 100%;
    flex: 1 0 auto;
    padding-right: var(--indent-size);
    padding-left: var(--indent-size);

    @media (min-width:400px) {
        max-width: 90%;
    }

    @media (min-width:1200px) {
        max-width:1000px;
    }
}
