.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.dashboard__form {
    margin: 25px 0;
}

.dashboard__link {
    display: block;
    color: var(--primary-text-color);
    text-decoration: underline;
}

@media (min-width: 600px) {
    .dashboard {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dashboard__link {
        font-size: 2vw;
    }

    .dashboard__link:hover {
        color: var(--tertiary-bg-color);
    }
//for displaying current types
    .dish-types__title {
        margin-top: 45px;
        margin-right: 50px;
    }
}

@media (min-width:1000px) {
    .dashboard__link {
        font-size: 1.2vw;
    }
}
