.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.dashboard__form {
    margin: 0 calc(-1 * var(--indent-size)) 2px;
}

.dashboard__link {
    display: block;
    padding-top: 25px;
    color: var(--primary-text-color);
    text-decoration: underline;
}

@media (min-width: 340px) {
    .dashboard__form {
        margin: 10px 0;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .dashboard {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .dashboard__form {
        margin: 25px 10px;
        max-width: 350px;
    }

    .dashboard__link {
        margin: 25px 10px;
        font-size: 2vw;
    }

    .dashboard__link:hover {
        color: var(--tertiary-bg-color);
    }
//for displaying current types
    .dish-types__title {
        margin-top: 45px;
        margin-right: 50px;
    }
}

@media (min-width:1000px) {
    .dashboard__link {
        font-size: 1.2vw;
    }
}
