.dish-type-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    // height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-text-color);
    border-radius: 3px;
    background-image: url('https://res.cloudinary.com/dzhpku2a7/image/upload/v1604934494/helpers/bg.png');
    background-size: cover;
    background-position-y: center;
    // margin-top: 15px;
    text-align: center;
    z-index: 1;
}

.dish-type-preview__title {
    font-size: 1rem;
    color: var(--primary-text-color);
}

@media (min-width:601px) {
    .dish-type-preview {
        // width: 200px;
        // height: 200px;
        // margin: 15px;
        margin-top: 15px;
    }

    .dish-type-preview__title {
        font-size: 1.8rem;
    }

    .dish-type-preview:hover {
        border-color: var(--primary-bg-color);
        .dish-type-preview__title{
            color: var(--primary-bg-color);
            transform: scale(1.1);
            -webkit-transition: transform .5s ease-in-out;
        }
    }
}
