.dish-type-preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--primary-text-color);
    border-radius: 3px;
    background-image: url('/static/images/bg.png');
    background-size: cover;
    margin: 15px;
    z-index: 1;
}

.dish-type-preview:hover {
    border-color: var(--primary-bg-color);
    .dish-type-preview__title{
        color: var(--primary-bg-color);
        transform: scale(1.1);
        -webkit-transition: transform .5s ease-in-out;
    }
}

.dish-type-preview__title {
    font-size: 1.8rem;
    color: var(--primary-text-color);
}
