.footer {
    margin-top: 100px;
    flex-shrink: 0;
    padding: 20px;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    text-align: center;
    font-size: .8rem;
}
