.form {
    padding: 25px 15px;
    button {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

// .form__wrapper {
//     margin-top: 20px;
//     display: flex;
//     flex-direction: column;
// }

.form__title, .form__label {
    color: var(--secondary-text-color);
}

.form__title {
    margin: 0;
    padding-bottom: 25px;
}

.form__input {
    margin-top: 7px;
    margin-bottom: 23px;
    width: 100%;
    border-color: transparent;
    border-radius: 2px;
    padding: 3px;
}

.form__img {
    margin-bottom: var(--indent-size);
}

.form--black {
    background-color: var(--secondary-bg-color);
}

.form--big {
    margin-top: 40px;
    width: 100%;
}

.form--big input[type="text"], textarea {
    width: 100%;
}

@media (min-width:600px) {
    .form {
        border-radius: 2px;
    }
    .form--big {
        width: 700px;
    }

    .form__wrapper {
        flex-direction: row;
        justify-content: space-around;
    }

    .form label, input, fieldset {
        font-size: 1em;
    }

    .form label {
        line-height: 2;
    }
}

//@media (min-width:1000px) {
//    .form label, input, fieldset {
//        font-size: 1.2vw;
//    }
//}
