.form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.form__wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form__input {
    margin-top: 7px;
    margin-bottom: 23px;
    width: 100%;
    border-color: transparent;
    border-radius: 2px;
    padding: 3px;
}

.entire-page-form {
    margin-top: 40px;
    width: 100%;
}

@media (min-width:601px) {
    .entire-page-form {
        margin-top: 40px;
        width: 700px;
    }

    .form__wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}

.entire-page-form input[type="text"], textarea {
    width: 100%;
}
