.header {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.header__logo {
    margin-left: var(--indent-size);
}

.header.mobile {
    height: 40px;
}

.header__toggler {
    margin-right: var(--indent-size);
}

@media (min-width:400px) {
    .header__logo {
        position: absolute;
        left: 30px;
        margin-left: 0;
    }

    .header__toggler {
        display: none;
    }
}
