.ideas__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ideas__item button {
    margin-bottom: 20px;
}

.ideas__form {
    margin-top: 0;
    margin-right: calc(-1 * var(--indent-size));
    margin-left: calc(-1 * var(--indent-size));
    padding-bottom: 0;
}

.ideas__list {
    // margin-right: calc(-1 * var(--indent-size));
    // margin-left: calc(-1 * var(--indent-size));
}

@media (min-width: 400px) {
    .ideas__list {
        margin-top: 20px;
        margin-bottom: 30px;
        flex-grow: 1;
    }

    .ideas__item {
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid var(--primary-text-color);
        margin: -1px;
        align-items: center;
        padding: 0 10px;
    }

    .ideas__item:first-child {
        margin-top: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .ideas__item:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .ideas__form {
        margin: 20px 0 0 30px;
        align-self: start;
        flex-basis: 300px;
        flex-shrink: 0;
    }
}
