.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: stretch;
	align-items: center;
    background-color: var(--secondary-bg-color);
	opacity: .9;
	z-index: 100;
}

.loader__content {
	position: relative;
	padding: calc(16px + 3rem) calc(48px + 5rem);
	//width: 100%;
    background-color: #fff;
	text-align: center;
}

.loader__text {
	font-size: calc(8px + .3rem);
}

@media (min-width: 600px) {
	.loader {
		justify-content: center;
	}

	.loader__content {
		//margin: 20% auto auto;
		//width: max-content;
		border-radius: 3px;
	}
}
