.nav {
    display: flex;
    justify-content: space-between;
}

.nav__left, .nav__right {
    display: flex;
    align-items: center;
}

.nav__item {
    position: relative;
    margin: 0;
    padding: 15px 10px;
    color: var(--secondary-text-color);
}

.nav__left .nav__item:first-child {
    padding-left: 0;
}

.nav__right .nav__item:last-child {
    padding-right: 0;
}

.nav__item:hover {
    color: var(--primary-text-color);
}
