.nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    border-top: 2px solid var(--primary-text-color);
    z-index: 2;
    background-color: var(--primary-bg-color);
    text-align: center;
    height: 100vh;
}

.nav__item {
    position: relative;
    margin: 0;
    padding: 15px 10px;
    font-weight: bold;
    color: var(--secondary-text-color);
}

@media only screen and (min-width:600px) {
    .nav {
        height: auto;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        border-top: 0;
        text-align: left;
    }

    .nav__left, .nav__right {
        display: flex;
        align-items: center;
    }

    .nav__left .nav__item:first-child {
        padding-left: 0;
    }

    .nav__right .nav__item:last-child {
        padding-right: 0;
    }

    .nav__item {
        font-size: 1.2vw;
    }

    .nav__item:hover {
        color: var(--primary-text-color);
    }
}

@media only screen and (min-width:600px) and (max-width:800px){
    .nav__item {
        font-size: 1.45vw;
    }
}

@media only screen and (min-width:1000px) {
    .nav__item {
        font-size: 1vw;
    }
}

@media only screen and (min-width:1340px) {
    .nav {
        justify-content: space-between;
    }
}
