.recipe__img {
    width: calc(100% + 2 * var(--indent-size));
    margin-bottom: var(--indent-size);
    margin-left: calc(-1 * var(--indent-size));
}

.recipe__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.recipe__dish-type {
    font-size: .8rem;
}

.recipe__list {
    margin-bottom: 40px;
    padding-left: var(--indent-size);
}

@media (min-width:768px) {
    .recipe {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .recipe__content-wrapper {
        flex-basis: 50%;
        padding-right: 30px;
    }

    .recipe__steps-wrapper {
        flex-basis: 100%;
    }

    .recipe__link-wrapper {
        flex-basis: 100%;
        margin-top: 40px;
    }

    .recipe__title {
        margin-top: 0;
    }

    .recipe__subtitle {
        margin-top: 40px;
    }

    .recipe__list {
        margin: 0;
    }

    .recipe__img-wrapper {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }

    .recipe__img {
        width: auto;
        max-width: 100%;
    }
}
