.recipe-preview {
    // height: 150px;
    position: relative;
    display: flex;
    // margin-right: calc(-1 * var(--indent-size));
    // margin-left: calc(-1 * var(--indent-size));
    overflow: hidden;
}

// .recipe-preview + .recipe-preview {
//     margin-top: 10px;
// }

.recipe-preview__title {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-text-color);
    z-index: 1;
}

.recipe-preview__image {
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    font-family: 'object-fit: cover;'; /*for IE*/
    opacity: .5;
}

.recipe-preview__empty-image {
    @extend .recipe-preview__image;
    top: -50%;
}

@media (min-width:400px) {
    .recipe-preview {
        // height: auto;
        display: block;
    }

    // .recipe-preview + .recipe-preview {
    //     margin-top: 0;
    //     margin-left: 15px;
    // }

    // .recipe-preview:first-child {
    //     margin-top: 0;
    // }

    .recipe-preview:hover img {
        transform: scale(1.05);
        -webkit-transition: transform .5s ease-in-out;
    }

    .recipe-preview:hover .recipe-preview__title {
        color: var(--tertiary-bg-color);
    }

    .recipe-preview__content {
        padding-right: 10px;
        padding-left: 10px;
    }

    .recipe-preview__title {
        margin: 10px 0;
        text-align: left;
        font-size: inherit;
        color: var(--primary-text-color);
    }

    .recipe-preview__image-wrapper {
        width: 100%;
        position: relative;
        border-radius: 4px;
        padding-top: 100%;
        overflow: hidden;
    }

    .recipe-preview__image-wrapper img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        object-fit: cover;
        font-family: 'object-fit: cover;'; /*for IE*/
        border-radius: 4px;
    }
}
