.recipe__img {
    width: 100%;
}

.recipe__title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.recipe__dish-type {
    font-size: .8rem;
}

@media (min-width:768px) {
    .recipe__img {
        width: auto;
    }
}
