html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    height: 100vh;
}

body {
    margin: 0;
	min-height: 100vh;
	position: relative;
    display: flex;
    flex-direction: column;
	font-family: var(--primary-font);
	// font-size: 1vw;
	color: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
    font-size: 100%;
}

// For correct 'block' display in IE
article, aside, footer, header, main, nav, section {
	display: block;
}

a {
	text-decoration: none;
}

.flex {
    display: flex;
}

.flex-direction_column-reverse {
    flex-direction: column-reverse;
}

.justify-content_space-between {
    justify-content: space-between;
}

.justify-content_flex-start {
    justify-content: flex-start;
}

.justify-content_center {
    justify-content: center;
}

.flex-wrapper {
    display: flex;
    @media (max-width:600px) {
        flex-direction: column;
    }
    @media (min-width:601px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 25px -15px;
    }

}

.flex-wrapper::after {
    content: '';
    flex: auto;
}

.page-title {
    font-size: 1.8rem;
}

.controls {
    margin: 40px 0 0;
}

.mobile {
    @media (min-width:601px) {
        display: none !important;
    }
}

.desktop {
    @media (max-width:600px) {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}
