:root {
    --primary-font: 'Segoe UI', sans-serif;


    --primary-text-color: #444;
    --secondary-text-color: #fff;
    --primary-bg-color: #ec6041;
    --secondary-bg-color:  #444;
    --tertiary-bg-color: #e43814;


    --indent-size: 15px;
}
