:root {
    --primary-font: 'Segoe UI', sans-serif;
    --primary-text-color: #444444;
    --secondary-text-color: #fff;
    --link-hovered-bg-color: #e43814;
    --primary-bg-color: #ec6041;
    --secondary-bg-color:  #444444;
}
