<a href="{{ url_for('main.recipe', recipe_id=recipe.id) }}" class="recipe-preview desktop">
    {% if recipe.image %}
        {% set url = recipe.image[0].url %}

        {% if url == 'undefined' %}
            <div class="recipe-preview__image-wrapper">
                <img src="https://res.cloudinary.com/dzhpku2a7/image/upload/v1604934493/helpers/fork.png" alt="No image">
            </div>
        {% else %}
            {% set thumb = url|replace("upload", "upload/w_200,h_200,c_fill") %}

            <div class="recipe-preview__image-wrapper">
                <img src="{{ thumb }}" alt="{{ recipe.title }}">
            </div>
        {% endif %}
    {% endif %}


    <div class="recipe-preview__title">
        {{ recipe.title }}
    </div>
</a>


<a href="{{ url_for('main.recipe', recipe_id=recipe.id) }}" class="recipe-preview mobile">
    {% if recipe.image %}
        {% set url = recipe.image[0].url %}

        {% if url == 'undefined' %}
            <img src="https://res.cloudinary.com/dzhpku2a7/image/upload/v1604934493/helpers/fork.png" alt="No image"
                 class="recipe-preview__empty-image">
        {% else %}
            {% set thumb = url|replace("upload", "upload/w_300,h_150,c_fill") %}
            <img src="{{ thumb }}" alt="{{ recipe.title }}" class="recipe-preview__image">
        {% endif %}
    {% endif %}

    <div class="recipe-preview__title">
        {{ recipe.title }}
    </div>
</a>
