{% extends "base.html" %}

{% block content %}
    {% if "add_recipe" in request.path %}
        <h1 class="page-title">{{ _('Add new recipe') }}</h1>
    {% elif "modify_recipe" in request.path %}
        <h1 class="page-title">{{ _('Modify recipe') }}</h1>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data" id="addRecipeForm" name="addRecipeForm" class="form--big">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=40) }}<br>
            {% for error in form.title.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols=32, rows=4) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dish_type.label }}<br>
            {{ form.dish_type(class_="select-css") }}<br>
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients(cols=50, rows=6) }}<br>
            {% for error in form.ingredients.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.steps.label }}<br>
            {{ form.steps(cols=50, rows=10) }}<br>
            {% for error in form.steps.errors %}
            <span style="color: #ff0000;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {% if "modify_recipe" in request.path %}
            <img src="" alt="" id="imgPreview" class="form__img">
        {% endif %}

        <div class="btn btn--white file-input-wrapper">
            {% if "modify_recipe" in request.path %}
            <span>{{ _('Change image') }}</span>
            {% else %}
            <span>{{ _('Choose image') }}</span>
            {% endif %}
            <input type="file" name="fileSelect" id="fileSelect" value="" class="file-input">
        </div>
        <span id="fileName" class="file-name"></span>
        {{ form.image_url(value="") }}

        <p>{{ form.submit(class_="btn btn--orange") }}</p>
    </form>
{% endblock %}
