{% extends "base.html" %}

{% block content %}
    <main class="dashboard">
        <!-- change method to GET? -->
        <form action="" method="post" class="form form--black dashboard__form">
            {{ form.csrf_token() }}
            {{ form.form_name(value="modify") }}
                <h1 class="form__title">Modify recipe</h1>
                {{ form.recipe_name.label(class_="form__label") }}<br>
                {{ form.recipe_name(class_="form__input") }}
                {{ form.submit(class_="btn btn--orange") }}
        </form>

        <form action="" method="post" class="form form--black dashboard__form">
            {{ form.csrf_token() }}
            {{ form.form_name(value="delete") }}
                <h1 class="form__title">Delete recipe</h1>
                {{ form.recipe_name.label(class_="form__label") }}<br>
                {{ form.recipe_name(class_="form__input") }}
                {{ form.submit(class_="btn btn--orange") }}
        </form>

        <a href="{{ url_for('main.add_dish_type')}}" class="dashboard__link">
            Add new dish type
        </a>
    </main>
{% endblock %}
