{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.csrf_token() }}
        {{ form.form_name(value="modify") }}
        <fieldset>
            <legend>Modify recipe</legend>
            <p>
                {{ form.recipe.label }}<br>
                {{ form.recipe }}
            </p>
            <p>{{ form.submit() }}</p>
        </fieldset>
    </form>

    <form action="" method="post">
        {{ form.csrf_token() }}
        {{ form.form_name(value="delete") }}
        <fieldset>
            <legend>Delete recipe</legend>
            <p>
                {{ form.recipe.label }}<br>
                {{ form.recipe }}
            </p>
            <p>{{ form.submit() }}</p>
        </fieldset>
    </form>
{% endblock %}