{% extends "base.html" %}

{% block content %}
<main class="recipe">
    <h1 class="recipe__title">{{ recipe.title }}</h1>

    <p class="recipe__description">{{ recipe.description }}</p>

    <p class="recipe__dish-type"><b>Dish type:</b> {{ recipe.dish_type.name }}</p>

    {% if recipe.image[0].url != 'undefined' %}
    <div class="recipe__img-wrapper">
        <img src="{{ recipe.image[0].url }}" alt="{{ recipe.title }}" class="recipe__img">
    </div>
    {% endif %}

    {% if recipe.ingredients %}
    <h2>Ingredients:</h2>
    <ul class="recipe__list">
        {% for i in recipe.ingredients %}
        <li>{{ i.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if recipe.steps %}
    <h2>Steps:</h2>
    <ol class="recipe__list">
        {% for s in recipe.steps %}
        <li>{{ s.content }}</li>
        {% endfor %}
    </ol>
    {% endif %}

    <a href="{{ url_for('main.modify_recipe', search_string=recipe.title) }}" class="btn btn--orange">Modify recipe</a>
</main>
{% endblock %}
