{% extends "base.html" %}

{% block content %}
    <main class="flex flex-direction_column-reverse" id="ideasMain">
        {% if ideas.count() %}
        <div id="ideas" class="ideas__wrapper">
            {% for idea in ideas %}
                <div class="ideas__item">
                    <div>
                        <h1>{{ idea.title }}</h1>
                        <p>{{ idea.description }}</p>
                    </div>
                    <button data-id="{{ idea.id }}" class="btn btn--orange">Delete idea</button>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="ideas__form">
            <form action="" method="post" class="form form--black">
                <h1 class="form__title">Add new idea</h1>
                {{ form.hidden_tag() }}

                {{ form.title.label(class_="form__label") }}<br>
                {{ form.title(size=30, class_="form__input") }}<br>

                {{ form.description.label(class_="form__label") }}<br>
                {{ form.description(cols=32, rows=4, class_="form__input") }}<br>

                {{ form.submit(class_="btn btn--orange") }}
            </form>
        </div>
    </main>
{% endblock %}
