{% extends "base.html" %}

{% block content %}
    <main class="flex flex-direction_column-reverse" id="ideasMain">
        {% if ideas.count() %}
        <div id="ideas" class="ideas__wrapper">
            {% for idea in ideas %}
                <div class="ideas__item">
                    <div>
                        <h1>{{ idea.title }}</h1>
                        <p>{{ idea.description }}</p>
                    </div>
                    <button data-id="{{ idea.id }}" class="button">Delete idea</button>
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="ideas__form">
            <h1 class="ideas__form-title">Add new idea</h1>
            <form action="" method="post" class="form">
            {{ form.hidden_tag() }}

            {{ form.title.label }}<br>
            {{ form.title(size=30, class_="form__input") }}<br>

            {{ form.description.label }}<br>
            {{ form.description(cols=32, rows=4, class_="form__input") }}<br>

            {{ form.submit(class_="button") }}
        </form>
        </div>
    </main>
{% endblock %}
