{% extends "base.html" %}

{% block content %}
    <main class="flex justify-content_space-between">
        <div id="ideas" class="ideas__wrapper">
            {% for idea in ideas %}
                <div class="ideas__item">
                    <div>
                        <h1>{{ idea.title }}</h1>
                        <p>{{ idea.description }}</p>
                    </div>
                    <button data-id="{{ idea.id }}" class="button">Delete idea</button>
                </div>
            {% endfor %}
        </div>

        <div class="ideas__form">
            <h1>Add new idea</h1>
            <form action="" method="post" class="form">
            {{ form.hidden_tag() }}

            {{ form.title.label }}<br>
            {{ form.title(size=30, class="form__input") }}<br>

            {{ form.description.label }}<br>
            {{ form.description(cols=32, rows=4, class="form__input") }}<br>

            <p>{{ form.submit(class="button") }}</p>
        </form>
        </div>
    </main>
{% endblock %}
